#control-panel-wrapper {
    position: relative;
    width: 92%;
    left: 4%;
    padding-bottom: 3/7 * 100%; // ratio, as a percentange of height/width
}

// Control panel
#control-panel{
    position: absolute;
    height: 100%;
    width: 100%;

    background: $control-panel-bg-color; // to see what is happening

    label,p,h1,h2,h3,h4,h5,h6 {
        color: $control-panel-text-color;
    }

    // Angular directive
    // For "Points" and "Explored"
    [data-meter-vert] {

      position: relative;
      float: left;
      // width: 12%;
      height: 80%;
      top: 10%;
      margin-left: 1%;

      .frame{

        height: 100%;
        overflow: hidden;
        background: rgba(0,0,0,0.2);

        .bar {
          background: teal;
          position: absolute;
          top: 98%;
          bottom: 0;
          left: .2em;
          right: .2em;
          transition: top 0.5s ease;
        }

        .text {
          position: relative;
          z-index: 128;
          top: 10%;

          text-align: center;
          padding: 0 1em;
        }

      }
    }

  }
