/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/utilities/general/clearfix";
@import "normalize";
@import "h5bp";

$loading-building-height: 100px;
$loading-building-width: 74px;

$color-dark-blue: rgb(31, 31, 55);
$color-orange: rgb(233,43,55);
$color-base-blue: rgb(33,33,57);
$color-trans-white: rgba(255,255,255,0.7);

$color-main-bg: $color-base-blue;
$color-main-bg-text: $color-trans-white;
$color-loading-screen-bg: rgb(10,12,10);
$color-loading-screen-text: $color-trans-white;
$color-header-panel-bg: $color-orange;

$color-layers-border: grey;
$color-button-default: rgb(44,87,199);

$layers-border-size: 20px;
$layers-max-size: 1100px;
$screen-split: $layers-max-size + (2 * $layers-border-size);

$media-split-pane: "screen and (min-width: #{$screen-split})";

body {
    background-color: $color-main-bg;
}
#intro-section {
    position: relative;
    color: $color-main-bg-text;
    .header-panel {
        position: absolute;
        border-radius: 4px;
        background-color: $color-header-panel-bg;

        top: 2em;
        left: 18%;
        right: 18%;

        text-align: center;
        padding: 3em;

        z-index: 100; // above layers
    }
}
#loading-screen {
    background: $color-loading-screen-bg;
    position: fixed;
    z-index: 900; // Highest
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;

    & > * {
        position: fixed;
        top: 50%;
        left: 0px;
        right: 0px;
        text-align: center;
        color: $color-loading-screen-text;
        font-weight: bold;
    }
    & > svg {
        top: 35%;
        top: calc(50% - #{$loading-building-height} - 1em);
        left: 50%;
        margin-left: -$loading-building-width/2;
    }
}

#control-panel{
    position: relative;
    text-align: center;
    section {
        position: absolute;
        min-height: 150px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: $color-trans-white;
        z-index: 100; // Above main screen
    }
}

button{
    border-radius: 4px;
    background-color: $color-button-default;
    color: $color-trans-white;
    border: none;
    border-bottom: 4px solid darken($color-button-default, 20%);
    padding: 0.2em 1em;
    margin: 0;
    &:hover {
        background-color: lighten($color-button-default, 10%);
    }
    &:visited {
        border: inherit;
    }
}

#layers {
    position: relative;
    width: 100%;

    .layer {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    .no-overflow {
        height: inherit;
        overflow: hidden;
        position: relative;
    }
}



// Split pane
@media #{$media-split-pane} {

    #layers {
        max-width: $layers-max-size;
        margin: 0 auto;
        border: $layers-border-size solid $color-layers-border;
        border-top: none;
    }
}

